@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url(rFont.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(font.ttf);
}

html,
body {
	background-color: #fafafa;
	color: #0a0a0a;
	font-family: 'Roboto';
	height: 100%;
	margin: 0px;
	text-align: center;
	width: 100%;
}

body {
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.anim,
.slide {
	transition-duration: 0.4s;
}

.rale {
	font-family: 'Raleway';
}

.slide {
	align-content: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.slide--done {
	opacity: 0;
}

#slide1 h1 {
	font-size: 72px;
	margin-top: 0px;
}

#slide1 h1 small {
	font-size: 18px;
}

#slide2 h1 {
	font-size: 0px;
	margin: 24px auto;
	width: 72%;
}

#slide3 h1 {
	font-size: 0px;
	margin: 24px auto;
	width: 72%;
}

#slide3 h1#slide3g1 {
	font-size: 24px;
}

.anim0 #slide2p1 {
	font-size: 24px;
}

.anim1 #slide2p2 {
	font-size: 24px;
}

.anim2 #slide2p3 {
	font-size: 24px;
}

.anim3 #slide3 h1#slide3g1 {
	font-size: 0px;
}

.anim3 #slide3 h1#slide3g2 {
	font-size: 24px;
	transition-delay: 0.4s;
}

.anim4 #slide3 h1#slide3g2 {
	font-size: 0px;
}

.anim4 #slide3 h1#slide3g3 {
	font-size: 24px;
	transition-delay: 0.4s;
}
